# Compiled class files
*.class

# Eclipse specific files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python Tools for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.apt_generated/
.apt_generated_test/

# PDT specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_tests/

# Scala IDE specific
.cache-main
.scala_dependencies
.worksheet

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Log files
*.log

# Package files
*.jar
!lib/jFuzzyLogic.jar
!lib/neuroph-core-2.93.jar
!lib/slf4j-api-1.7.30.jar
!lib/slf4j-nop-1.7.30.jar

# Archive files
*.zip
*.tar
*.tar.gz
*.rar

# Backup files
*.backup
*.old

